//
//  Debug.xcconfig
//  BoosterKit
//
//  Created by Travis Palmer on 2/23/17.
//  Copyright © 2017 Spartan. All rights reserved.
//

#include "Pods/Target Support Files/Pods-BoosterKit/Pods-BoosterKit.debug.xcconfig"

// Add a value to Info.plist similar to the following:
// DarkSkyAPIKey, String, $(DARK_SKY_API_KEY)
//
// Access the value programmatically like so:
// Bundle.main.infoDictionary?["DarkSkyAPIKey"]
//
// Uncomment the line below.
//DARK_SKY_API_KEY = 1234
